/*
h1{
  background-image: url("bgtriangles.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: local;
  
  margin:0;

  min-height: 100%;
  min-width: 1024px;

  width:100%;
  height: auto;


  color:white;
} 
*/
/*
img.bg{

  min-height: 100%;
  min-width: 1024px;
	

  width: 100%;
  height: auto;
	
 
  position: fixed;
  top: 0;
  left: 0;
}
*/

h1 { 
  background: url(bgtriangles.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100vh;
  margin:0;
  padding:0;
  
  text-align: center;
  color:white
  background-color:black;
  
}

div.screen1{
  margin:0;
  padding:0;
}


